<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% load static %}
  <link
    rel="stylesheet"
    href="{% static 'Ingeniaapp/css/Components/Eventos.css'%}"
  />
  <title>Ingenia - Eventos</title>
</head>
<section class="articles-v3">
  <div class="cd-container cd-max-width-adaptive-lg">
    <ul class="articles-v3__list-grid">
      <li class="articles-v3__item-grid">
        <a href="#" class="articles-v3__img-wrapper">
          <img
            src="https://img.freepik.com/foto-gratis/pintura-lago-montana-montana-al-fondo_188544-9126.jpg"
            alt="Image description"
          />
        </a>

        <div>
          <h2 class="articles-v3__headline">
            <a href="#">"Titulo"</a>
          </h2>

          <p class="articles-v3__description">"Descripción"</p>

          <div class="articles-v3__author">
            <a href="#" class="articles-v3__author-img">
              <img
                src="https://cdn.iconscout.com/icon/free/png-256/free-user-1493-459372.png"
                alt="Author picture"
              />
            </a>

            <div class="articles-v3__author-info">
              <p>
                <a href="#" class="articles-v3__author-name" rel="author"
                  >"Ejemplo"</a
                >
              </p>
              <p class="articles-v3__date">
                <time>Oct 4, 2050 - Oct 7, 2050</time> &mdash; "Estado"
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
